/* dekstop */
@media (min-width: 481px) {
    header {
        position: fixed;
        top: 0px;
    }
    
    .menu-content {
        width: 100vw;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .menu-content .link-img {
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu-content .link-img img {
        width: 30px;
    }
    
    .menu-content nav {
        flex-grow: 2;
    }
    
    .menu-content .menu-ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .menu-content .menu-li {
        padding: 0px 30px;
        font-size: 15px;
        text-decoration: none;
        color: aliceblue;
    }
    
    .menu-content .menu-li:hover {
        color: rgb(206, 203, 0);
    }
    
}

/* mobile */
@media (max-width: 480px) {
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 5px;
        position: fixed;
    }
    
    .menu-content {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .menu-content .link-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu-content .link-img img {
        width: 30px;
    }
    
    .menu-content .menu-ul {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .menu-content .menu-li {
        padding: 0px 30px;
        font-size: 15px;
        text-decoration: none;
        color: aliceblue;
    }
    
    .menu-content .menu-li:hover {
        color: rgb(206, 203, 0);
    }

}